   body {
       text-align: center;
       align-items: center;
       min-height: 100vh;
       display: flex;
       justify-content: center;
   }

   .background {
       width: 863px;
       height: 1231px;
       background-color: white;
       /* 背景图片 */
       background-size: cover;
       /* 图片覆盖整个容器 */
       display: flex;
       border-color: #245888;
       border: 1px solid;
       border-radius: 10px;
   }

   .left_bule_background {
       width: 350px;
       height: 1215px;
       background-color: #245888;
       margin-left: 5px;
       margin-top: 10px;
       border: 1px solid transparent;
   }

   .left_image {
       width: 200px;
       height: 270px;
       margin-left: 70px;
       margin-top: 50px;
       border: 1px solid transparent;
       border-radius: 10px;
       border-color: #fff;
       background-image: url("image/1.jpg");
       background-size: cover;
   }

   .resume-title {
       font-size: 30px;
       font-weight: bold;
       color: #fff;
       margin-top: 20px;
   }

   .resume-information {
       display: flex;
       margin-top: 30px;
       /* 与上方头像的间距 */
       padding: 0 70px;
       /* 左右内边距，避免内容贴边 */
       line-height: 40px;
   }

   .resume-info-icon {
       width: 40px;
       height: 40px;
       background-color: #fff;
       margin-right: 5px;
   }

   .resume-info-content {
       width: 200px;
       /* 宽度自适应父容器 */
       height: 40px;
       /* 调整高度，确保文字垂直居中 */
       background-color: white;
       /* 添加白色背景 */
       display: flex;
       /* 启用 flex 布局 */
       justify-content: center;
       /* 文字水平居中 */
       font-size: 20px;
       font-weight: bold;
   }

   .infor-background {
       margin-top: 20px;
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .infor-item {
       display: flex;
   }

   .infor-icon {
       width: 40px;
       height: 40px;
       background-color: #245888;
       margin-right: 1px;
       display: flex;
       align-items: center;
       justify-content: center;
   }

   .infor-content {
       width: 200px;
       height: 40px;
       background-color: #245888;
       text-align: left;
       line-height: 40px;
   }

   .hobby-background {
       width: 250px;
       height: 350px;
       margin-top: 30px;
       margin-left: 50px;
       display: grid;
       grid-template-columns: repeat(2, 1fr);
       grid-template-rows: repeat(3, 1fr);
       grid-gap: 10px;
       place-items: center;
   }

   .hobby-item {

       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       width: 50px;
       height: 50px;
       margin: 2px;
   }